@font-face{
    font-family: "IBMVGA";
    src: url('/fonts/ibm.woff') format("woff");
}

.containers
{
    display: inline-flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    padding: 30px;
    margin: 15px;
    background-color: rgba(41, 41, 41, 0.336);
    border: 1px solid white;
    backdrop-filter: blur(8px);         
    -webkit-backdrop-filter: blur(8px);
    border-radius: 15px;
    position: relative; 
    z-index: 1;        
    text-align: center;
}

#btn-game {
  font-size: 1.4em;
  padding: 0.6em 0.8em;
  border-radius: 0.5em;
  border: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  box-shadow: 2px 2px 3px #000000b4;
}

.container-btn {
  position: relative;
  padding: 3px;
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  border-radius: 0.9em;
  transition: all 0.4s ease;
}

.container-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  margin: auto;
  border-radius: 0.9em;
  z-index: -10;
  filter: blur(0);
  transition: filter 0.4s ease;
}

.container-btn:hover::before {
  background: linear-gradient(90deg, #03a9f4, #f441a5);
  filter: blur(1.2em);
}
.container-btn:active::before {
  filter: blur(0.2em);
}

.title
{
     font-size: 32px;
}

body
{
    font-family: "IBMVGA";
    flex-direction: column;
    color:white;
    margin: 0;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: none;   
    -moz-osx-font-smoothing: auto;  
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
}

html {
    background: black;
    height: 100%;
}

#Matrix {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;        
}

#container
{
    color:white;
    margin: -50px;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: none;  
    -moz-osx-font-smoothing: auto;  
    text-rendering: geometricPrecision;
    padding: 0;
}

#credits
{
    width: 300px;
    padding: 5px;
    margin: 25px;
    background-color: rgba(41, 41, 41, 0.336);
    border: 1px solid white;
    backdrop-filter: blur(8px);         
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    position: relative; 
    z-index: 1;        
    text-align: center;
}

@media (max-width: 900px) {
  #container {
    flex-direction: column; 
    margin: 0px;
  }
}