@font-face{
    font-family: "IBMVGA";
    src: url('/fonts/ibm.woff') format("woff");
}



body
{
    font-family: "IBMVGA";
    flex-direction: column;
    color:white;
    margin: 0;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: none;   
    -moz-osx-font-smoothing: auto;  
    text-rendering: geometricPrecision;
    margin: 0;
    padding: 0;
}

html {
    background: black;
    height: 100%;
}

#Matrix {
    position: fixed;   
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;        
}

#container
{
    color:white;
    margin: -50px;
    min-height: 100vh;
    display:flex;
    align-items: center;
    justify-content: center;
    -webkit-font-smoothing: none;  
    -moz-osx-font-smoothing: auto;  
    text-rendering: geometricPrecision;
    padding: 0;
}

#credits
{
    width: 300px;
    padding: 5px;
    margin: 25px;
    background-color: rgba(41, 41, 41, 0.336);
    border: 1px solid white;
    backdrop-filter: blur(8px);         
    -webkit-backdrop-filter: blur(8px);
    border-radius: 10px;
    position: relative; 
    z-index: 1;        
    text-align: center;
}

@media (max-width: 900px) {
  #container {
    flex-direction: column; 
    margin: 0px;
  }
}